<div class="show container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h3 class="shots">
        <%= "Shots: #{@game.shots}" %>
      </h3>
      <h3 class="score">
        <%= "Score: #{@game.score}" %>
    </div>
  </div>

  <div class="row game_board">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge boats"><%= @game.boats %></span>
          Boats:
        </li>
        <li class="list-group-item">
          <span class="badge vessels"><%= @game.vessels %></span>
          Vessels:
        </li>
        <li class="list-group-item">
          <span class="badge carriers"><%= @game.carriers %></span>
          Carriers:
        </li>
      </ul>
      <p><%= link_to "New Game", games_path, method: :post, class: 'new_game' 'btn btn-primary btn-lg' %></p>
    </div>

    <div class="col-md-6">
      <% @game.game_board.each do |row| %>
        <div class="row">
          <% row.each do |cell| %>
            <%= link_to fire_game_path(row: cell[:row], col: cell[:column]), method: :put, remote: true do %>
              <div class="cell_<%= cell[:row] %>_<%= cell[:column] %>" id="cell"></div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
