<div class="show container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>
        <%= "Battleship Game: #{@game.id}" %>
      </h1>
    </div>
  </div>
  <div class="row">
    <h3 class="score">
      <%= "Shots: #{@game.shots} Score: #{@game.score}" %>
    </h3>
  </div>
  <div class="row game_board">

    <div class="col-md-3">
      <h3 class="boats"><%= "Boats: #{@game.boats}" %></h3>
      <h3 class="vessels"><%= "Vessels: #{@game.vessels}" %></h3>
      <h3 class="carriers"><%= "Carriers: #{@game.carriers}" %></h3>
    </div>

    <div class="col-md-6">
      <% @game.game_board.each do |row| %>
        <div class="row">
          <% row.each do |cell| %>
            <%= link_to fire_game_path(row: cell[:row], col: cell[:column]), method: :put, remote: true do %>
              <div class="cell_<%= cell[:row] %>_<%= cell[:column] %>" id="cell"></div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
